.main {
  background-color: rgb(237, 237, 237);
  padding: 40px;
  border-radius: 20px;
}
.form {
  width: 60%;
  margin: auto;
}
.input {
  margin-bottom: 10px;
  background-color: rgb(237, 237, 237);
  border: none;
  border-bottom: 1px solid rgb(148, 148, 148);
}
.input:focus {
  border-bottom: 1px solid rgb(148, 148, 148);
  outline: none;
}
